{% spaceless %}
{% if show_options or product.options %}
	<div class="option">
	{% for option in product.options %}
		{% if option.type == 'checkbox' or option.type == 'select' or option.type == 'radio' or option.type == 'image' %}
			<div class="input-option{{option.product_option_id}}">
				<label class="control-label">{{option.required ? '*'}} {{option.name}}:</label>
				{% if option['type'] == 'select' %}
					<select name="option[{{option.product_option_id}}]" class="form-control">
						<option value="">{{text_select}}</option>
						{% for option_value in option.product_option_value %}
							<option value="{{option_value.product_option_value_id}}" data-prefix="{{option_value.price_prefix}}" data-price="{{option_value.price_value}}">{{option_value.name}} {% if option_value.price %}({{option_value.price_prefix}}{{option_value.price}}){% endif %}</option>
						{% endfor %}
					</select>
				{% endif %}
				{% if option.type == 'checkbox' or option.type == 'radio' or option.type == 'image' %}
					{% for option_value in option.product_option_value %}
						<label class="input {{option_value.image ? 'option-image'}}">
							{% if option.type == 'checkbox' %}
								<input type="checkbox" name="option[{{option.product_option_id}}][]" value="{{option_value.product_option_value_id}}" class="option-value-{{option_value.product_option_value_id}}" data-prefix="{{option_value.price_prefix}}" data-price="{{option_value.price_value}}" />
							{% endif %}
							{% if option.type == 'radio' or option.type == 'image' %}
								<input type="radio" name="option[{{option.product_option_id}}]" value="{{option_value.product_option_value_id}}" class="option-value-{{option_value.product_option_value_id}}" data-prefix="{{option_value.price_prefix}}" data-price="{{option_value.price_value}}" />
								{% if option_value.image %}
									<img src="{{option_value.image}}" alt="{{option_value.name}} {{option_value.price ? option_value.price_prefix ~ '' ~ option_value.price}}" data-type="module" data-thumb="{{option_value.small}}" class="img-thumbnail" />					
								{% endif %}
							{% endif %}
							{% if not option_value.image %}
								<span>{{option_value.name}} {{option_value.price ? '('~option_value.price_prefix~''~option_value.price~')' : ''}}</span>
							{% endif %}
						</label>
					{% endfor %}
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
	</div>
{% endif %}
{% endspaceless %}