<div class="review-wrap">
	{% if reviews %}
		<div class="review-list">
			{% for review in reviews %}
				<div class="item row">
					<div class="col-xs-12 col-sm-2 col-xxl-3">
						<div class="rating"> 
							{% for i in 1..5 %}
								<i class="{{review.rating < i ? 'far fa-star' : 'fa fa-star'}}"></i>
							{% endfor %}
						</div>
						<div class="name"><i class="fa fa-user"></i>{{review.author}}</div>
						<div class="date-added"><i class="fa fa-calendar"></i>{{review.date_added}}</div>
					</div>
					<div class="col-xs-12 col-sm-10 col-xxl-17">
						{% if show_plus_minus_review and review.plus %}
							<div class="plus">
								<div><i class="fa fa-plus"></i>{{text_plus}}</div>
								{{review.plus}}
							</div>
						{% endif %}
						{% if show_plus_minus_review and review.minus %}
							<div class="minus">
								<div><i class="fa fa-minus"></i>{{text_minus}}</div>
								{{review.minus}}
							</div>
						{% endif %}
						<div class="comment">
							{% if show_plus_minus_review and review.plus or review.minus %}
								<div><i class="fa fa-comment"></i>{{text_comment}}</div>
							{% endif %}
							{{review.text}}
						</div>
						{% if review.admin_reply %} 
							<div class="admin-reply">
								<div><i class="fa fa-reply"></i>{{text_admin_reply}}</div>
								{{review.admin_reply}}
							</div>
						{% endif %}
					</div>
					<div class="col-xs-12"><hr /></div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p>{{text_no_reviews}}</p>
	{% endif %}
	<div class="review-pagination row">
		<div class="col-xs-12 col-sm-4 text-left hidden-xs">{{pagination}}</div>
		<div class="col-xs-12 col-sm-4 text-center">{% if pagination %}<button class="show-more-review btn btn-default"><i class="fa fa-sync-alt"></i><span>{{ button_show_more_reviews }}</span></button>{% endif %}</div>
		<div class="col-xs-12 col-sm-4 text-right"><button class="btn btn-primary" onclick="$('#form-review').slideToggle();">{{text_write}}</button></div>
	</div>
</div>
